:root{
  /* ===== PALETTE (HSV triplets) ===== */
  --bg-col-ATM-01: 342 100% 46%;
  --bg-col-ATM-02: 300 1% 29%;
  --bg-col-ATM-03: 217 68% 41%;
  --bg-col-ATM-04: 216 76% 48%;
  --bg-col-ATM-05: 198 87% 44%;
  --bg-col-ATM-06: 180 58% 26%;
  --bg-col-ATM-07: 291 23% 34%;
  --bg-col-ATM-08: 213 78% 43%;
  --bg-col-ATM-09: 342 100% 46%;

  --bg-col-CNT-01: 131 41% 33%;
  --bg-col-CNT-02: 224 82% 46%;
  --bg-col-CNT-03: 253 41% 34%;
  --bg-col-CNT-04: 292 46% 32%;
  --bg-col-CNT-05: 201 37% 42%;
  --bg-col-CNT-06: 316 53% 30%;
  --bg-col-CNT-07: 226 75% 56%;
  --bg-col-CNT-08: 208 100% 39%;
  --bg-col-CNT-09: 131 41% 33%;

  --bg-col-COM-01: 316 51% 34%;
  --bg-col-COM-02: 206 95% 52%;
  --bg-col-COM-03: 205 92% 28%;
  --bg-col-COM-04: 263 52% 52%;
  --bg-col-COM-05: 232 25% 13%;
  --bg-col-COM-06: 177 100% 7%;
  --bg-col-COM-07: 177 100% 7%;
  --bg-col-COM-08: 177 100% 7%;
  --bg-col-COM-09: 177 100% 7%;
  --bg-col-COM-10: 264 10% 20%;
  --bg-col-COM-11: 300 26% 40%;
  --bg-col-COM-12: 264 10% 20%;
  --bg-col-COM-13: 270 7% 23%;
  --bg-col-COM-14: 270 7% 23%;
  --bg-col-COM-15: 264 10% 20%;
  --bg-col-COM-16: 272 39% 48%;
  --bg-col-COM-17: 270 7% 23%;
  --bg-col-COM-18: 285 46% 67%;
  --bg-col-COM-19: 205 85% 47%;
  --bg-col-COM-20: 316 51% 34%;

  --bg-col-DMG-01: 342 100% 46%;
  --bg-col-DMG-02: 277 43% 28%;
  --bg-col-DMG-03: 291 38% 29%;
  --bg-col-DMG-04: 231 82% 48%;
  --bg-col-DMG-05: 231 82% 48%;
  --bg-col-DMG-06: 231 82% 48%;
  --bg-col-DMG-07: 231 82% 48%;
  --bg-col-DMG-08: 231 82% 48%;
  --bg-col-DMG-09: 231 82% 48%;
  --bg-col-DMG-10: 231 82% 48%;
  --bg-col-DMG-11: 231 82% 48%;
  --bg-col-DMG-12: 231 82% 48%;
  --bg-col-DMG-13: 231 82% 48%;
  --bg-col-DMG-14: 231 82% 48%;
  --bg-col-DMG-15: 0 0% 0%;
  --bg-col-DMG-16: 0 0% 0%;
  --bg-col-DMG-17: 0 0% 0%;
  --bg-col-DMG-18: 177 100% 7%;
  --bg-col-DMG-19: 177 100% 7%;
  --bg-col-DMG-20: 177 100% 7%;
  --bg-col-DMG-21: 220 62% 38%;
  --bg-col-DMG-22: 209 65% 31%;
  --bg-col-DMG-23: 212 81% 47%;
  --bg-col-DMG-24: 217 73% 50%;

  --bg-col-FLX-01: 226 73% 44%;
  --bg-col-FLX-02: 202 85% 33%;
  --bg-col-FLX-03: 333 45% 39%;
  --bg-col-FLX-04: 333 45% 39%;
  --bg-col-FLX-05: 333 45% 39%;
  --bg-col-FLX-06: 216 68% 51%;
  --bg-col-FLX-07: 212 93% 32%;
  --bg-col-FLX-08: 200 65% 9%;
  --bg-col-FLX-09: 316 33% 23%;
  --bg-col-FLX-10: 226 73% 44%;

  --bg-col-GDE-01: 223 72% 47%;
  --bg-col-GDE-02: 322 44% 22%;
  --bg-col-GDE-03: 322 44% 22%;
  --bg-col-GDE-04: 322 44% 22%;
  --bg-col-GDE-05: 223 75% 40%;
  --bg-col-GDE-06: 267 15% 24%;
  --bg-col-GDE-07: 267 15% 24%;
  --bg-col-GDE-08: 267 15% 24%;
  --bg-col-GDE-09: 314 48% 52%;
  --bg-col-GDE-10: 314 48% 52%;
  --bg-col-GDE-11: 314 48% 52%;
  --bg-col-GDE-12: 314 48% 52%;
  --bg-col-GDE-13: 314 48% 52%;
  --bg-col-GDE-14: 225 67% 39%;
  --bg-col-GDE-15: 206 68% 33%;
  --bg-col-GDE-16: 212 69% 51%;
  --bg-col-GDE-17: 223 72% 47%;

  --bg-col-HIB-01: 173 89% 22%;
  --bg-col-HIB-02: 220 82% 13%;
  --bg-col-HIB-03: 220 82% 13%;
  --bg-col-HIB-04: 221 82% 40%;
  --bg-col-HIB-05: 189 52% 26%;
  --bg-col-HIB-06: 262 41% 26%;
  --bg-col-HIB-07: 262 30% 32%;
  --bg-col-HIB-08: 227 72% 47%;
  --bg-col-HIB-09: 338 78% 37%;
  --bg-col-HIB-10: 0 0% 0%;
  --bg-col-HIB-11: 355 90% 54%;
  --bg-col-HIB-12: 18 85% 72%;
  --bg-col-HIB-13: 355 90% 54%;
  --bg-col-HIB-14: 173 89% 22%;

  --bg-col-LIF-01: 340 79% 46%;
  --bg-col-LIF-02: 207 90% 54%;
  --bg-col-LIF-03: 218 67% 41%;
  --bg-col-LIF-04: 240 26% 32%;
  --bg-col-LIF-05: 212 81% 47%;
  --bg-col-LIF-06: 302 38% 29%;
  --bg-col-LIF-07: 232 25% 13%;
  --bg-col-LIF-08: 340 79% 46%;

  --bg-col-MEM-01: 211 74% 27%;
  --bg-col-MEM-02: 195 72% 53%;
  --bg-col-MEM-03: 359 62% 30%;
  --bg-col-MEM-04: 200 47% 40%;
  --bg-col-MEM-05: 200 47% 40%;
  --bg-col-MEM-06: 200 47% 40%;
  --bg-col-MEM-07: 208 62% 28%;
  --bg-col-MEM-08: 290 43% 26%;
  --bg-col-MEM-09: 210 54% 31%;
  --bg-col-MEM-10: 198 77% 40%;
  --bg-col-MEM-11: 211 74% 27%;

  --bg-col-NAV-01: 274 55% 31%;
  --bg-col-NAV-02: 229 43% 30%;
  --bg-col-NAV-03: 229 43% 30%;
  --bg-col-NAV-04: 229 43% 30%;
  --bg-col-NAV-05: 229 43% 30%;
  --bg-col-NAV-06: 230 46% 26%;
  --bg-col-NAV-07: 249 48% 16%;
  --bg-col-NAV-08: 217 52% 10%;
  --bg-col-NAV-09: 51 58% 62%;
  --bg-col-NAV-10: 215 72% 42%;
  --bg-col-NAV-11: 213 61% 21%;
  --bg-col-NAV-12: 274 55% 31%;

  --bg-col-NUC-01: 228 71% 16%;
  --bg-col-NUC-02: 205 92% 44%;
  --bg-col-NUC-03: 212 55% 36%;
  --bg-col-NUC-04: 219 91% 38%;
  --bg-col-NUC-05: 191 63% 32%;
  --bg-col-NUC-06: 212 88% 40%;
  --bg-col-NUC-07: 207 82% 42%;
  --bg-col-NUC-08: 276 35% 30%;
  --bg-col-NUC-09: 228 71% 16%;

  --bg-col-VEH-01: 223 72% 47%;
  --bg-col-VEH-02: 305 31% 29%;
  --bg-col-VEH-03: 187 61% 29%;
  --bg-col-VEH-04: 209 90% 47%;
  --bg-col-VEH-05: 207 53% 40%;
  --bg-col-VEH-06: 219 51% 46%;
  --bg-col-VEH-07: 219 51% 46%;
  --bg-col-VEH-08: 219 51% 46%;
  --bg-col-VEH-09: 219 51% 46%;
  --bg-col-VEH-10: 219 51% 46%;
  --bg-col-VEH-11: 219 71% 45%;
  --bg-col-VEH-12: 227 70% 47%;
}
